################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/imageResult.png
/bin/Image.exe
/bin/Image.pdb
/bin/ImageTests.exe
/bin/ImageTests.pdb
/bin/Signal.exe
/bin/Signal.pdb
/bin/Statistics.exe
/bin/Statistics.pdb
/bin/zlib1.dll
